[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "dfmeta"]
	path = dfmeta
	url = https://github.com/cran/dfmeta
[submodule "dfped"]
	path = dfped
	url = https://github.com/artemis-toumazi/dfped
